
.navbar {
  padding: 3rem 6rem;
  
  @include respond(labtop){
    padding: 1rem;
  }
}

.logo {
  filter: blur(0.4rem);
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}
