.sales {
  padding: 10rem 20rem;
}
.sales__card {
  padding: 3rem;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
}
.sales__analytics {
  display: flex;
  gap: 7rem;
}

.card-1 {
  position: relative;

  &::after {
    content: "";
    width: 25rem;
    height: 25rem;
    background-color: #4ab5d7;
    position: absolute;
    top: -7rem;
    left: -10rem;
    border-radius: 50%;
    z-index: -1;
  }
}

.overlay-1 {
  position: absolute;
  top: 20px;
  right: -40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.overlay-2 {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
}

.card-2 {
  align-self: center;
  position: relative;

  &::after {
    content: "";
    width: 25rem;
    height: 25rem;
    background-color: #52ca83;
    position: absolute;
    top: -1rem;
    right: -8rem;
    border-radius: 50%;
    z-index: -1;
  }
}

.sales__card-img {
  img {
    width: 10rem;
    max-width: 100%;
  }
}
.sales__card-text {
  .net {
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 1rem;

    .net-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: white;
      background: $color-tertiary;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
  .renew {
    font-size: 0.8rem;
    font-weight: 500;
    color: black;

    span {
      color: #12f578;
    }
  }
}
