.shop__card {
  padding: 2rem;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.shop__card-heading {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.631rem;
  }
  
  .shop__card-paragraph {
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 2.9rem;
    padding-bottom: 4rem;
  
  }

.service__image-container {
  img {

    border-radius: 8px;
  }
}



