@keyframes moveTopDown {
    0% {
      opacity: 0;
      transform: translateY(-6rem);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
@keyframes moveDownTop {
    0% {
      opacity: 0;
      transform: translateY(6rem);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  