/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  //   @include respond(tab-land) {
  //     font-size: 56.25%; // 1rem =9px 9/16
  //   }

  //   @include respond(tab-port) {
  //     font-size: 50%; // 1rem =10px 1rem=8px 8/16
  //   }

  //   @include respond(big-disktop) {
  //     font-size: 75%; //1rem = 12 12/16
  //   }
}

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-size: 1.6rem;
  overflow-x: hidden;

  //   @include respond(tab-port) {
  //     padding: 0;
  //   }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  display: inline-block;
  margin: 0;
}

p{
    margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Global Reset */
// ::selection {
//   // it will change the color of the selected text
//   background-color: $color-primary;
//   color: $color-White;
// }
