.primary-header{
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.6;
    padding: 0 4rem;
}

.secondary-heading{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
    
}

.paragraph{
    color: $color-gray-dark;
}