.primary-header{
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.6;
    padding: 0 4rem;
    width: 90%;
    animation: moveTopDown 1s ease-out 0.50s; ;
    animation-fill-mode: backwards;

    @include respond(labtop) {
        font-size: 4rem;
        padding: 0 2rem;
        width: 100%;
    }
    @include respond(tab-land) {
       text-align: center;
       margin-top: 5rem;
        padding: 0 1rem;
    }
    @include respond(phone) {
        font-size: 2.8rem;
       text-align: center;
       margin-top: 5rem;
        padding: 0 ;
    }

}

.secondary-heading{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
    
}

.paragraph{
    color: $color-gray-dark;
}