    .custom-btn {
        padding: 1rem 2rem;
        background-color: $color-gray-light;
        border-radius: 3.5rem;
    }

    .section-padding{
        padding: 8rem 6rem;
        @include respond(labtop){
            padding: 6rem 2rem;
        }
    }